body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: local("PlayfairDisplay-Regular"),
    url(./fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Simplifica";
  src: local("Simplifica"), url(./fonts/Simplifica.ttf) format("truetype");
}
@font-face {
  font-family: "PantonDemo-Light";
  src: local("PantonDemo-Light"),
    url(./fonts/PantonDemo-Light.otf) format("opentype");
}
